body{
    display: flex;
    align-items: center;
}
.flex-item{
    display: flex;
    flex-direction: column-reverse;
}
pre{
    display: block;
    margin: 0;

}
pre>li,li{
    
    color: rgba(60, 60, 192, 0.856);
}
p{
    margin: 0;
    padding: 0;

}
label, .choice-os{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}

.form{
    width: fit-content;
    height: auto;
    padding: 10px 20px;
    margin-right: 30px;
    border: 1px solid rgba(60, 60, 192, 0.856);
    border-radius: 10px;
    background: linear-gradient( rgba(60, 60, 192, 0.856), #fff);
    

}

.form_main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 640px;
}


.form-group>*{
    display: block;
    outline: none;
}
.form-group label{
    margin: 10px 0;
    font-weight: 500;
    font-size: 18px;
}
.form-group input:not(input[type=checkbox]){
    height: 35px;
    
}
.form-group textarea{
    height: 120px;
    resize: none;
}
.form-group input:not(input[type=checkbox]), .form-group textarea{
    width: 300px;
    font-size: 18px;
    margin-bottom: 17px;
    background-color: rgb(175, 175, 231);
    border: 1px solid rgb(77, 74, 74);
    border-radius:10px;
}


.form-group label{
    display: inline-block;    
}
.file{
    align-self: center;
}
​
input[type=checkbox], label[for='agree']{
    cursor: pointer;
}

input[type=checkbox]{
    display: none;
}
.fake{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(60, 60, 192, 0.856);
    border-radius: 5px;
}
.fake::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../icons/checkbox.png');
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transition: 0.4s;
    z-index: 2;
}
input[type=checkbox]:checked + .fake::before {
    opacity: 1;
    transition: 0.4s;
}
.form-group .agree{
    display: flex;
    align-items: center;
}
.fake, .fake::before, .agree label{
    display: block;
}
.agree label{
    width: 250px;
    margin-left: 20px;
}

.file{
    margin-top: 20px;
}


.btns-group{
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.radio-group{
    display: flex;
    width: 306px;
    margin: 0 auto;

    justify-content: space-around;
    text-align: center;
}
.choice-os{
    margin: 15px 0;
}
.windows, .mac, .windows label, .windows p, .mac label, .mac p{
    cursor: pointer;
}
.windows:hover, .mac:hover, .windows label:hover, .windows p:hover, .mac label:hover, .mac p:hover{
    filter: drop-shadow(0 0 0.75rem rgba(87, 111, 177, 0.856));
}




input[type=radio]{
    display: none;
}
.fake-radio{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
}
.fake-radio::before{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 5;
    background-repeat: no-repeat;
    
}
.windows-icon.fake-radio::before{
    background: url('../icons/windows.png');
    background-size: contain;
}
.mac-icon.fake-radio::before{
    background: url('../icons/mac_os.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type=radio]:checked + .fake-radio::before{
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 26, 0.856));
    transform: scale(1.15); 
} 

.img img{
    margin: 25px 25px 25px 0;  
    border-radius: 50%;
}


.get-and-out{
    align-self: baseline;
    margin-left: 30px;
}
label[for='file']{
    display: block;
    margin-bottom: 20px;
}
