.btn{
    display: block;

    width: 150px;
    height: 40px;

    font-size: 20px;
    line-height: 40px;
    color: rgb(43, 43, 43);
    text-align: center;
    text-decoration: none;    

    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(43, 43, 43);
    outline: none;
    
    margin-top: 20px;
    
    cursor: pointer;
    transition: 0.4s all;
}
.btn:hover{
    background-color: rgb(43, 43, 43);
    color: #fff;
}