
.form{
    width: fit-content;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
.form-group>*{
    display: block;
    outline: none;
}
.form-group label{
    margin: 10px 0;
    font-weight: 500;
    font-size: 18px;
}
.form-group input{
    height: 35px;
}
.form-group textarea{
    height: 120px;
    resize: none;
}
.form-group input, .form-group textarea{
    width: 500px;
    margin-bottom: 25px;
}
.btn{
    display: block;

    width: 150px;
    height: 40px;

    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-decoration: none;    

    background-color: rgb(44, 44, 214);
    border-radius: 10px;
    outline: none;
    
    margin-top: 20px;
    
    cursor: pointer;
}